/* Header */
.header{
    background-color: black;
    padding:15px 25px 10px 15px;
}
.navbar{
    padding:10px 30px;
}
.navbar a{
    color:white;
    text-decoration: none;
    font-size: 20px;   
}
.navbar .dropdown .dropdown-menu a{
    color:blue;
}

.navbar a:hover{
    color: blueviolet;
}
.navbar a:active{
    color: blueviolet;
}

/* Sidebar */
.sidebar ul li a{
   color: white;
}

.sidebar ul li{
    color: white;
}

.sidebar ul li:hover{
    color: blue;
    
}
.sidebar ul li a:hover{
    color: blue;
}
/* Footer */
.footer{
    background-color: rgb(163, 126, 131);
    color: aliceblue;

}
/* Base */


